doctype html
html
  head
    title Niel Dance Academy
    block scripts
    block style

  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/img/logo.png")
                | NDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact us]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
    block content
    footer#footer
        | Copyright &copy; 2021 NielDanceAcademy.com| All rights reserved 
