//- index.pug
doctype html
html
  head
    title Niel Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/img/logo.png")
                | NDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Contact us]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]

    section#introSection
        div Welcome to Niel's Dance Academy
        div.small Eat Sleep Dance Repeat!  

    section#missionSection
        h2 Our Mission
        div.card
            h3 Magic of Dance
            div.card-box 
                div.card-img 
                    img(src="/static/img/1.png") 
                div.card-content
                    p Grooving is the best way to cheer up anyone's mood     
        div.card
            h3 Complete Knowledge of Beats
            div.card-box 
                div.card-img 
                    img(src="/static/img/2.png") 
                div.card-content
                    p Beats should connect with your heart beats   
        div.card
            h3 Expert Coaching 
            div.card-box 
                div.card-img 
                    img(src="/static/img/3.png") 
                div.card-content
                    p Learn any dance form with best guidance at your nearest 

    section#sponsorSection
        h2 Our Sponsors
        div#sponsors 
            img(src="/static/img/logo1.png", alt="sponsor image", class="spImage")          
            img(src="/static/img/logo2.png", alt="sponsor image", class="spImage")          
            img(src="/static/img/logo3.png", alt="sponsor image", class="spImage")          
            img(src="/static/img/logo4.png", alt="sponsor image", class="spImage")          

    footer#footer
        | Copyright &copy; 2021 NielDanceAcademy.com| All rights reserved    
    script
      include ../static/index.js